*{
    margin: 0;
    padding: 0;
    overflow: none;

}
html{
    scroll-behavior: smooth;
}

body{
    overflow: none;
}

.navbar-brand{
    font-weight: bold;
    font-size:xx-large;
    

}
.hello{
    font-size: 60px;
}
  .navbar{
    position:fixed;
    top:0;
    width:100%;
    height: 80px;
     z-index: 1;
}  

.sticky{
    background-color: orangered;
}

#home{
    background-color: black;
    color: white;

}
.navbar-nav{
    width: 100%;
    justify-content:end;
    font-size:16px;
    padding-right: 50px;
    font-weight: bold;
    transition: 4s ease;

    
    
}
.navbar-nav a:hover{
    text-decoration: underline white;
    
}

.about-section{

    
    margin-top: 30px;
    margin-left: 60px;
    

}

.about{
    position: relative;
width:95%;

}

.about::before{
content: '';
position: absolute;
width: 70px;
height: 5px;
border-bottom:5px solid orangered;
bottom: -05px;

}

.about::after{
content: '';
position: absolute;
width: 50px;
height: 5px;
border-bottom:5px solid orangered;
bottom: -13px;
left: 0;
}

.details{
width: 100%;
line-height: 30px;
display: flex;

}
.details span{
font-weight: bolder;
}
.detail-1 p{
border-bottom: 1px solid gray;
}
.detail-2 p{
border-bottom: 1px solid gray;
}
.detail-1{
margin-right: 20px;
width: 25%;
}
.detail-2{
width: 25%;
margin-right: 20px;
}


.tittle{
width: 30%; 
  
}
.tittle p{
position: relative;
display: flex;
justify-content: space-between;
border-bottom: 1px solid gray;
}

.tittle .html::after{
content: '';
position: absolute;
width: 90%;
border-bottom: 5px solid crimson;
bottom: -2px;
left: 0;
}
.tittle .css::after{
content: '';
position: absolute;
width: 80%;
border-bottom: 5px solid crimson;
bottom: -2px;
left: 0;
}
.tittle .boot::after{
content: '';
position: absolute;
width: 70%;
border-bottom: 5px solid crimson;
bottom: -2px;
left: 0;
}
.tittle .java::after{
content: '';
position: absolute;
width: 50%;
border-bottom: 5px solid crimson;
bottom: -2px;
left: 0;
}

.qualification{
width: 100%;
margin-top:40px;
display: flex;

}

.education{
    width: 30%;
    margin-right: 140px;
}
.back{
    background-color:rgb(243, 235, 235);
    height:107vh;
    border: 1px solid gray;
    box-shadow: 1px 1px gray;
    

}

.experience{
width: 30%;
}

.mini-tittle{
display: flex;
margin-left:20px;
margin-top: 20px;
}
.quali{
margin-left: 20px;

}
.quali p{
text-align: justify;
margin-right: 10px;
}



.circle{
height: 10px;
width: 10px;
background-color: orangered;
position: relative;
border-radius: 50%;
top:38px;
left: 4px;
}

.circle::before{
content: '';
position: absolute;
width: 2px;
height: 34vh;
background-color: orangered;
left: 4px;
}

.services{
    margin-top: 30px;
    
    
}
.ab{
    margin-left: 50px;
}



.contacts::before{
    content:"";
    position:absolute;
    width:102px;
    height:3px;
    background:black;
    left:46%;
    top:72px;
}
.contacts::after{
    content:"get in touch";
    position:absolute;
    color:orangered;
    bottom:-2px;
    left:46.7%;
    background-color: white;
}

.service{
    height: 60vh;
    background: black
}
.serve{
    color:white;
    text-align: center;
    
}

.inter{
    display: flex;
}
.my{
    padding-top:30px;
}

.fir{
    padding-left: 100px;
}
.card{
    
    border:2px solid orangered;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 1s;
}




.contacts{
    text-align: center;
    padding-top:30px;
    position:relative;
    overflow: none;
    padding-bottom:10px;
}

.contacts::before{
    content:"";
    position:absolute;
    width:102px;
    height:3px;
    background:black;
    left:46%;
    top:72px;
}
.contacts::after{
    content:"get in touch";
    position:absolute;
    color:orangered;
    bottom:-2px;
    left:46.7%;
    background-color: white;
}

.service{
    height: 60vh;
    background: black
}
.serve{
    color:white;
    text-align: center;
    
}

.inter{
    display: flex;
}
.my{
    padding-top:30px;
}

.fir{
    padding-left: 100px;
}
.card{
    
    border:2px solid orangered;
    margin-left: 10px;
    margin-right: 10px;
    transition: transform 1s;
}

.card:hover{
    transform: scale(1.01);
    
    


}

.btnn{
    padding:5px 12px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: orangered;
    color: white;
}
.btnn:hover{
        background: none;
        border:2px solid orangered;
    }


    .title{
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .line{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line::before{
        content: "";
        width: 80%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }

    .line{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line::before{
        content: "";
        width: 80%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }
    .line-1{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line-1::before{
        content: "";
        width: 90%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }
    .line-2{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line-2::before{
        content: "";
        width: 80%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }
    .line-3{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line-3::before{
        content: "";
        width: 50%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }

    .line-4{
        width: 80%;
        height: 4px;
        background-color: gray;
        position: relative;
    }

    .line-4::before{
        content: "";
        width: 30%;
        height: 4px;
        background-color: orangered;
        position: absolute;
    }

  .btn{
      
      
       background-color: orangered;
       color: white;
    
  }
  .btn:hover{
     border:2px solid black;
     background: none;
  }

  .team{
      height:60vh;
      background-color:black;
      overflow: none;
  }

  .teamm{
    height:40vh;
    background-color:black;
    overflow: none;
    padding-bottom: 30px;
    margin-top: 40px;

}
.port{
    height:40vh;
    overflow: none;
    

}


.service-section{
    font-size: 30px;
}
.teamm-1{
    margin: 20px;
    background-color:rgb(221, 77, 24);
    transition: transform 1s;
    border-radius: 10px;
}

.teamm-1:hover{
    transform:scale(1.03);
    background-color: orangered;
}
 
.teamm-2{
    margin: 20px;
    height: 35vh;
    overflow: none;
    transition: transform 1s;
}
.teamm-2 img{
    width: 100%;
    height: 100%;
    
}

.teamm-2:hover{
    transform:scale(1.03);
    
}

.por{
    margin: 40px 50px;
}
.first-img img{
    background-size: cover;
    width: 60%;
    height: 60%;
    margin-left: 130px;
    border-radius: 10px;
}




.icon{
    
    text-align: center;
    padding: 15px 0px;
    
}
.icon img{
        
        width: 10%;
        font-size: 30px;
        font-weight: bolder;
        
    }
  
  .contact{
      height: 90vh;

  }
   .add{
       display: flex;
       margin: 20px;
      
   }

   .input{
       margin-right:30px;
   }

   .inputt{
       margin-right: 20px;
   }

   footer{
    background-color: black;
    color:white;
    height: 40px;
    text-align: center;
   }

button a{
    color: white;
    text-decoration: none;

}

.button{
    width: 100%;
    text-align: center;
    
}


.con{
    padding:7px 12px;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color:white;
    transition: all 1s ease-in-out;
}

.con:hover{
    background: none;
    border:1px solid white;
    color: white;
}

@media screen and (max-width:382px) {
    .navbar-toggler{
        display: none;
    }

    .first_block{
        display: block;
        margin-left: -125px;
    }
    
    
    .hello{
        font-size: 22px;
        font-weight: bolder;
    }
    .first-img{
        margin-left: -60px;
    }
    .small-para{
    
        width: 100%;
    
        
    }
    .about-section{
        margin: -5px 0px;
    }
   
    .about{
        margin: 40px 0px;
    }




    .details{
        display: block;
        height: 65vh;
        margin-top: 20px;
    }
    .detail-1{
        width: 90%;
        margin-bottom: 30px;
        margin-left: 15px;
        border: 1px solid gray;
        border-radius: 8px;
    
    }
    .detail-2{
        width: 90%;
        border: 1px solid gray;
        border-radius: 8px;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .tittle{
        width: 90%;
        border: 1px solid gray;
        border-radius: 8px;
        margin-left: 15px;
        margin-bottom: 30px;
    }

    .qualification{
        display: block;

    }

    .circle{
        height: 10px;
        width: 10px;
        background-color: orangered;
        position: relative;
        border-radius: 50%;
        top:38px;
        left: 4px;
        }
        
        .circle::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 27vh;
        background-color:orangered;
        
        }
        
    .btn{
        margin-left: 20px;
    }
    
    .back{
        background-color:rgb(243, 235, 235);
        height:84vh;
        border: 1px solid gray;
        box-shadow: 1px 1px gray;
        
    
    }


    .education{
        width: 90%;
        overflow: none;
        margin-left: 15px;
        
    }
    
    .experience{
        width: 90%;
        margin-left: 15px;
        overflow: none;
        margin: 30px 20px;
    
    }

    .para p{
        margin: 10px 10px;
    }
    .para h3{
        font-size: 20px;
        margin: 10px 10px;
    }
    .para{
        text-align: justify;
    }


    .teamm{
        display: block;
        height: 52vh;
    border: 1px solid black;
        
    }
    
    .teamm-1{
        
        width: 90%;

    }
    .about-para{
        font-size: 15px;
        font-weight: bolder;
    }

    .port{
        display: block;
        height: 80vh;
        
    }
    .po{
        margin-top: -30px;
    }
    .teamm-2{
        width: 90%;
        height: 30%;
        border: 1px solid rgb(170, 167, 167);
        border-radius: 8px;
    }
    
    
    .contact-section{
        display: block;
    }
    .heading-3{
        margin-left: 0;
    }
    .sms{
        margin-top: -90px;
    }
    .location{
        margin-top: -30px;
    }
    footer{
        height: 5vh;
    }
    



    
}